<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3" id=""></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5" id="colomn">
        <form action="/login" method="post" role="form" enctype="application/x-www-form-urlencoded" class="p-5">
            <legend class="text-center pb-4 mt-3" style="font-weight: 700; font-size:3rem ;">Login</legend>
            <div class="form-group pt-1">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Name" required="true">
            </div>
            <div class="form-group pt-4">
                <label for="email">Email Address</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required="true">
            </div>
            <div class="form-group pt-4">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                    required="true">
            </div>
            <div class="pt-3"><a href="/signup">create new account?</a></div>
            <div>
                <button type="submit" class="btn btn-primary mt-3 mb-5" id="formbutton">LOGIN</button>
            </div>
        </form>
    </div>
</div>